# common
node_modules/
.DS_Store
*.log
npm-debug.log*
yarn-error.log*

# env & secrets
.env
.env.*        # .env.local / .env.production 等
backend/.env
frontend/.env.local

# build outputs
dist/
build/
.out/
out/
.next/
.vercel/

# editors
.vscode/
.idea/
